.pagina-exercicio2 {
    h2 {
        color: #000000;
    }

    label {
        color: #000000;
    }
    
    input {
        color: black;
    }

    .informacao {
        margin: 50px 0px 10px 100px;
        display: flex;
        gap: 20px;
    }

    .faixa {
        background-color: #B3FF37;
        height: 4px;
        margin: 15px 100px 0px 100px;
    }

    .caixa-problema {
        text-align: center;
        background-color: #ffffff;
        margin: 30px 100px 10px;
        border-radius: 5px;
        height: 250px;
        display: flex;
        justify-content: center;

        p {
            margin-top: 100px;
            font-size: 18px
        }
    }

    .campos {
        background-color: #ffffff;
        margin: 30px 700px 0px;
        height: 210px;
        border-radius: 20px;
        padding: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .problema {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 10px;
            input {
                border-radius: 10px;
                padding: 10px;
                margin-left: 20px;
                margin-right: 20px;
                border: 2px solid #c3c3c3;
            }

            label {
                margin-left: 20px;
                margin-right: 20px;
                font: 600 20px 'Poppins';
            }
        }

        .executar {
            background-color:#6278F7;
            padding: 15px;
            border-radius: 10px;
            width: 200px;
            color: #fff;
            border: 0px;
            margin-top: 30px;
            margin-left: 260px;
        }
    }

    .resultado {
        text-align: center;
        margin-top: 30px;
        color: #000000;
    }
}