.pagina-exercicio1 {

    h2 {
        color: #000000;
    }

    label {
        color: #000000;
    }
    
    input {
        color: black;
    }


    .campos {
        background-color: #ffffff;
        margin: 30px 700px 0px;
        height: 310px;
        border-radius: 20px;
        padding: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .problema {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            margin-left: 10px;
            input {
                border-radius: 10px;
                padding: 10px;
                margin-left: 20px;
                margin-right: 20px;
                border: 2px solid #c3c3c3;
            }

            label {
                margin-left: 20px;
                margin-right: 20px;
                font: 600 20px 'Poppins';
            }
        }

        .executar {
            background-color:#6278F7;
            padding: 15px;
            border-radius: 10px;
            width: 200px;
            color: #fff;
            border: 0px;
            margin-top: 30px;
            margin-left: 260px;
        }
    }

    .resultado {
        text-align: center;
        margin-top: 30px;
        color: #000000;
    }
}