.cardL {
    margin-top: 36px;
    margin-left: 100px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #ffa500;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardV {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #B3FF37;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardCiano {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #37FFF3;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardAzul {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #37B7FF;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardRoxo {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #CB37FF;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardVermelho {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #FF5B37;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardVerdeAgua {
    margin-top: 36px;
    margin-left: 100px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #37FFAB;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardPreto {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #000000;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardCinza {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #D0D0D0;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}

.cardMarrom {
    margin-top: 36px;
    margin-left: 80px;

    .link {
        text-decoration: none;
    }

    .card {
        width: 215px;
        height: 160px;
        border-radius: 12px;

        text-align: center;
        align-content: center;
        background-color: #ffffff;
        text-decoration: none;

        .retangulo {
            margin-left: 50%;
            transform: translateX(-50%);
            height: 60px;
            width: 60px;
            border-radius: 12px;
        }

        .cor {
            background-color: #B75333;
        }

        .titulo {
            font-size: 13px;
            font-weight: bold;
            margin-top: 10px;
            color: #383131;
        }

        .subtitulo {
            font-size: 16px;
            font-weight: lighter;
            margin-top: 10px;
            color: #000000;
            font: 500 12px "Poppins";
        }
    }
}