.pagina-sobre {
    
    h2 {
        margin: 50px 0px 40px 70px;
        color: black;
    }

    p {
        text-align: center;
        font-size: 37px;
        line-height: 42px;
        color: black;
    }

    .final {
        margin-top: 110px;
        margin-left: 47%;
        justify-content: center;
        align-items: center;
    }
    
}