.pagina-exercicio9 {
    h2 {
        color: #000000;
    }

    label {
        color: #000000;
    }

    input {
        color: black;
    }


    .containerSorvete {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        margin: 30px 34% 30px;
        height: 220px;
        width: 570px;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .campo {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0px 50px 10px;

            .problema {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                label {
                    font: 600 19px 'Poppins';
                }

                input {
                    border-radius: 15px;
                    padding: 10px;
                    width: 100%;
                    text-align: left;
                    border: 2px solid #c3c3c3;
                    margin-top: 10px;
                }
            }
        }

        .botao {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-top: 30px;

            .executar {
                background-color: #6278F7;
                padding: 15px;
                border-radius: 10px;
                width: 200px;
                color: #fff;
                border: 0px;
                margin-right: 50px;
            }
        }
    }
    
    .resultado {
        text-align: center;
        margin-top: 0px;
        color: #000000;
    }
}