.informacao {
    margin: 50px 0px 10px 100px;
    display: flex;
    gap: 20px;
}

.faixa1 {
    background-color: #ffa500;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa2 {
    background-color: #B3FF37;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa3 {
    background-color: #37FFF3;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa4 {
    background-color: #37B7FF;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa5 {
    background: #CB37FF;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa6 {
    background: #FF5B37;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa7 {
    background: #37FFAB;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa8 {
    background: #151515;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa9 {
    background: #D0D0D0;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa10 {
    background: #B75333;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa11 {
    background-color: #ffa500;
    height: 4px;
    margin: 15px 100px 0px 100px;
}

.faixa12 {
    background-color: #ffa500;
    height: 4px;
    margin: 15px 100px 0px 100px;
}


.caixa-problema {
    text-align: center;
    background-color: #ffffff;
    margin: 30px 100px 10px;
    border-radius: 5px;
    height: 240px;
    display: flex;
    justify-content: center;

    p {
        margin-top: 80px;
        font-size: 18px
    }
}